<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhlee.minipj.api.test.mapper.TestMapper">

<resultMap id="member" type="com.jhlee.minipj.api.test.model.TestVO">
  <result column="mem_Id" property="memId"/>
  <result column="mem_Name" property="memName"/>
  <result column="mem_Email" property="memEmail"/>
  <result column="mem_Mdn" property="memMdn"/>
  <result column="mem_Nation_Code" property="memNationCode"/>
</resultMap>


  <select id="getDual" parameterType="com.jhlee.minipj.api.test.model.TestVO" resultType="com.jhlee.minipj.api.test.model.TestVO">

      select mem_Id, mem_Name, mem_Email, mem_Mdn, mem_Nation_Code
      from lefting.TB_MEMBER_MASTER
      limit 1

  </select>
</mapper>